/*****************************************************************************/
/*****************************************************************************/
/*****************************************************************************/

/*****************************************************************************/
/*                                  GENERAL                                  */
/*****************************************************************************/

* {
    --color1: #CAE6E8;
    --color2: #16878C;
    --color3: #5DA360;
    --color4: #A6141B;
    --color5: #FFCCCC;
    --color6: #F8F9FA;
    /* background-color y test-items */
    --color7: #D1EEF0;
    /* secciones */
    --color8: #9EB3B5;
    --color9: #13585c;
    --color10: white;

    --color1_05: #cae6e880;
    --color2_05: #16878dbf;
    --color3_05: #5DA36080;
    --color4_05: #A6141B80;
    --color5_05: #FFCCCC80;
    --color6_05: #F8F9FA80;
    --color6_x: #f8f9fae0;
    /* background-color y test-items */
    --color7_05: #D1EEF080;
    /* secciones */
    --color8_05: #9EB3B580;

    box-sizing: border-box;
}

body {
    background-color: var(--color6) !important;
}

main {
    background: url("../images/mosaico2.jpg");
}

section {
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px var(--color6),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

article {
    border-radius: 1em;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 0.1px var(--color6),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

button:hover {
    cursor: pointer;
}

footer {
    height: auto;
    width: 100vw;
    padding: 0;
    /* height: 14.9vh; */
    scroll-snap-align: start;
}

footer,
h6 {
    color: var(--color4);
}

footer a {
    color: black;
    text-decoration: none !important;
}

/*****************************************************************************/
/*****************************************************************************/
/*****************************************************************************/

/*****************************************************************************/
/*                              CLASES GENERALES                             */
/*****************************************************************************/

.cabecera {
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.cabecera-log {
    background-image: url("../images/mosaico2.jpg");
    /* Ajusta el tamaño de la imagen para cubrir el bloque */
    background-size: inherit;
    /* Repite la imagen en mosaico */
    background-repeat: repeat;
}

.cabecera-log-nav {
    background-color: var(--color6_x);
}

.container-fluid {
    padding: 0;
}

.pie-paginas {
    text-align: center !important;
}

.sombra {
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 0.1px var(--color6),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.sombra_borde {
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px var(--color6),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.redondeado {
    border-radius: 1em;
}

.sacudida:hover {
    animation: sacudido 1s ease 0s 1 normal forwards;
}

.seccion-mb {
    margin-bottom: 2em !important
}

.cuerpo {
    background-color: var(--color6_x);
}

/*****************************************************************************/
/*****************************************************************************/
/*****************************************************************************/

/*****************************************************************************/
/*                             IDENTIFICADORES                               */
/*****************************************************************************/

#bloque-preguntas {
    padding: 20px;
    background-color: var(--color2);
}

#f-logo img {
    max-width: 80%;
}

#btnRegistro,
#btnLogin {
    max-width: 200px;
}

#barra-navegacion {}

/*****************************************************************************/
/*****************************************************************************/
/*****************************************************************************/

/*****************************************************************************/
/*                    MODIFICACIONES DE CLASES BOOTSTRAP                     */
/*****************************************************************************/

.btn-success {
    background-color: var(--color3) !important;
    color: #03231d;
}

.bg-dark {
    background-color: var(--color8) !important;
}

.bg-primary {
    background-color: var(--color1) !important;
}

.test-item {
    background-color: var(--color6);
    border-radius: 1em;
}

.card {
    padding: 0.2em 0.5em 0 1em;
    background-color: var(--color1) !important;
}

/****************************************************************************/
/****************************************************************************/
/****************************************************************************/

/****************************************************************************/
/*                                 NAVBAR                                   */
/****************************************************************************/

nav>div>a>img {
    margin: inherit;
    height: 40px;
}

.navbar-toggler {
    /* background-color: var(--color2) !important; */
    border: 2px solid var(--color2) !important;
    /* color: #03231d !important; */
    color: var(--color2) !important;
}

.navbar-toggler-icon {
    color: #03231d !important;
    /* background-color: var(--color2) !important; */
}

.form-control {
    width: 26vw !important;
    background-color: var(--color10) !important;
    border-color: #03231d;
    color: #03231d;
}

/****************************************************************************/
/****************************************************************************/
/****************************************************************************/

/****************************************************************************/
/*                                  LOGIN                                   */
/****************************************************************************/

.superpuesto {
    position: fixed !important;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.exit-card {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.exit-card:hover {
    text-decoration: none;
    color: var(--color4) !important;
    animation: slide-fwd-center .25s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes slide-fwd-center {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.5)
    }
}

/****************************************************************************/
/****************************************************************************/
/****************************************************************************/

/****************************************************************************/
/*                     EFECTO PARALLAX PARA PRESENTACIÓN                    */
/****************************************************************************/

.slider {
    width: 100vw;
    height: 99.9vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin: 0;
    padding: 0;
}

.parallax {
    scroll-snap-align: start;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100vw;
}

.parallax div {
    padding: 0;
}

.parallax0,
.parallax1,
.parallax2,
.parallax3,
.parallax4,
.parallax5 {
    height: 100vh;
}

.parallax0 {
    background-image: url("../images/presentacion0.jpg");
}

.parallax1 {
    background-image: url("../images/presentacion1.jpg");
}

.parallax2 {
    background-image: url("../images/presentacion2.jpg");
}

.parallax3 {
    background-image: url("../images/presentacion3.jpg");
}

.parallax4 {
    background-image: url("../images/presentacion4.jpg");
}

.parallax5 {
    background-image: url("../images/presentacion5.jpg");
}

.texto-presentacion {
    margin-top: 6em;
}
.parallax0 .texto-presentacion {
    animation: slide-fwd-center 0.7s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes slide-fwd-center {
    0% {
        transform: scale(0.5)
    }

    100% {
        transform: scale(1)
    }
}

/*
.texto-presentacion-m {
    margin-top: 10em;
} */

.texto-presentacion p {
    padding: 0.5em;
    font-size: 150%;
    color: var(--color6);
    border: 16px solid var(--color6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--color2_05);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* .texto-presentacion-m p {
    padding: 1em;
    font-size: 90%;
    color: var(--color6);
    border: 16px solid var(--color6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--color2_05);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} */

.parallax1 .indicador-down,
.parallax2 .indicador-down,
.parallax3 .indicador-down,
.parallax4 .indicador-down,
.parallax5 .indicador-down {
    position: relative;
    top: -8%;
}


.indicador-down {
    height: 100px;
}

.indicador-down img {
    height: 100%;

    /* Estilos para la primera imagen */
    animation-name: resaltar;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes resaltar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/****************************************************************************/
/****************************************************************************/
/****************************************************************************/

/****************************************************************************/
/*                          EFECTO PARA LOS BOTONES                         */
/****************************************************************************/

/* INICIO DE SESION */
.bt-log {
    color: var(--color9) !important;
    background: var(--color1) !important;
    border: 2px solid var(--color2) !important;
}

.bt-log:hover {
    color: var(--color6) !important;
}

.boton-sliding-abajo {
    min-width: 130px;
    height: 40px;
    color: var(--color6);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 7px;
    z-index: 0;
    background: var(--color6);
    overflow: hidden;
    border: 2px solid var(--color6);
    color: var(--color2);
}

.boton-sliding-abajo:hover {
    color: var(--color6);
    border: 2px solid var(--color6);
}

.boton-sliding-abajo:hover:after {
    height: 100%;
}

.boton-sliding-abajo:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: var(--color2);
}


/* REGISTRO DE USUARIO */

.boton-sliding-arriba {
    min-width: 130px;
    height: 40px;
    color: var(--color6);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 7px;
    z-index: 0;
    background: var(--color6);
    overflow: hidden;
    border: 2px solid var(--color6);
    color: var(--color2);
}

.boton-sliding-arriba:hover {
    color: var(--color6);
    border: 2px solid var(--color6);
}

.boton-sliding-arriba:hover:after {
    height: 100%;
}

.boton-sliding-arriba:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: var(--color2);
}


/* BUSQUEDA */

.boton-arrow {
    min-width: 130px;
    height: 36px;
    color: var(--color1);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: var(--color2) !important;
}

.boton-arrow:hover {
    border-radius: 5px;
    padding-left: 28px;
    padding-right: 4px;
}

.boton-arrow:hover:after {
    opacity: 1;
    left: 20px;
}

.boton-arrow:after {
    content: "\00AB";
    position: absolute;
    opacity: 0;
    font-size: 22px;
    line-height: 30px;
    top: 0;
    left: -20px;
    transition: 0.4s;
}

/* CARD INICIO/REGISTRO*/
.card-portada {
    animation: slide-rotate-hor-t-fwd .5s cubic-bezier(.455, .03, .515, .955) reverse both
}

@keyframes slide-rotate-hor-t-fwd {
    0% {
        transform: translateY(0) translateZ(0) rotateX(0deg);
        transform-origin: bottom center
    }

    100% {
        transform: translateY(-150px) translateZ(130px) rotateX(-90deg);
        transform-origin: bottom center
    }
}

/* TESTS */
.realzado {
    color: var(--color2) !important;
    font-weight: bold;
    text-decoration: none !important;
}

.realzado:hover {
    font-weight: bold;
    color: var(--color9) !important;
    animation: scale-up-center .2s cubic-bezier(.39, .575, .565, 1.000) both
}

@keyframes scale-up-center {
    0% {
        transform: scale(1, 1)
    }

    100% {
        transform: scale(1.02, 1.08)
    }
}

/****************************************************************************/
/****************************************************************************/
/****************************************************************************/

/****************************************************************************/
/*                               MEDIA QUERIES                              */
/****************************************************************************/

@media (max-width: 575px) {

    /* Rango de tamaño hasta sm */
    .indicador-down {
        transform: scale(0.7);
    }

    .texto-presentacion p {
        font-size: 60% !important;
    }
}

@media (max-width: 767px) {

    /* Rango de tamaño hasta md */
    #f-logo {
        padding: 1.5em;
    }

    #logo,
    #identificacion,
    #identificacion div {
        display: flex;
        justify-content: center !important;
    }

    .texto-presentacion p {
        font-size: 90%;
    }
}

@media (max-width: 1199px) {

    /* Rango de tamaño hasta xl */
    .texto-presentacion p {
        padding: 1em;
        font-size: 110%;
    }

    #f-links {
        padding-top: 0.5em;
    }

    #f-info {
        text-align: center;
    }

}
